
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-position: center;
  background-size: cover;
  background-color: #47D147;
  width: auto;
  height: auto;

}

.header{
  position: fixed;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border:1px solid #CCC;
}

.header #title{
  text-align: center;
  position: fixed;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin: 1% 10%;

}

.header #menu{
  position: fixed;
  top: 5%;
  margin: 5%;
}

.header #nav, #nav ul {
padding: 3px 0 0 0;
margin: 0;
list-style: none;
}

.header #nav li {
float: left;
width: 200px;
}

.header #nav ul {
position: fixed;
width: 200px;
left: -1000px;
}

.header #nav li:hover ul, #nav li.ie_does_hover ul {
left: auto;
background-position: 0 0;
}

.header #nav a {
display: block;
margin: 1%;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
}

.header ul a{
font-weight: bold;
color: #0099FF;
cursor: default;
text-align: center;
}

.header ul ul a:link, ul ul a:visited{
font-weight: normal;
color: #0099FF;
cursor: pointer;
}

.header ul ul a:hover, ul ul a:active{
font-weight: normal;
color: #FFF;
cursor: pointer;
}

.header ul li{
background-color: #A1E7A1;
border-left: 3px solid #47D147;
}

.header ul ul li{
background-color: #A1E7A1;
border-top: 3px solid #47D147;
border-left: 0;
}

.header #static_images{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 5%;
  margin: 5%;
}
.header #static_images #compass{
  position: absolute;
  top: 1%;
  left: auto;
  width: 50%;
  height: 50%;
  margin: 5%;
  visibility: visible;
}
.header #static_images #wind_info{
  position: absolute;
  bottom: 7.5%;
  left: auto;
  width: 50%;
  height: 50%;
  margin: 5%;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}
.header #static_images #wind{
  position: absolute;
  top: 1%;
  left: 0;
  width: 50%;
  height: 50%;
  margin: 5%;
  opacity: 1;
}
.header #static_images #wind_info p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.header #static_images #course{
  position: absolute;
  top: 1%;
  left: 50%;
  width: 50%;
  height: 70%;
  margin: 5%;
}

.section{
  position: absolute;
  /*top: 100%;*/
  top: 60%;
  bottom: 5%;
  width: 100%;
  height: 100%;
  margin: 5%;
}

.section #container_scatter {
  position: absolute;
  /*width: 3000px;
  height: 3000px;*/ 
  background-color: #A1E7A1;
  visibility: visible;
}
.section #scatter_results {

}

.section #field_overview {
  position: absolute;
  top: 1000px;
  left: 50px;
  bottom: 200px;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #A1E7A1;
  visibility: visible;
}
#tooltip {   
  position: absolute; 
  top: 60%;
  right: 5%;  
  margin: 5%;        
  text-align: center;           
  width: 300px; 
  height: 420px;                 
  max-height: 500px;              
  padding: 2px;             
  font: 25px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
}
#tooltip #banen_tooltip{
  text-align: left;
}
#tooltip #tijd_tooltip{
  position: absolute;
  text-align: center;
}

#crew_tooltip {   
  position: absolute; 
  top: 60%;
  right: 5%;  
  margin: 5%;          
  text-align: center;           
  width: 300px; 
  height: 220px;                 
  max-height: 500px;              
  padding: 2px;             
  font: 25px sans-serif;        
  background: red;   
  border: 0px;      
  border-radius: 25px;
  opacity: 0;
}
#crew_tooltip #tussenstand_tooltip{
  position: absolute;
  text-align: center;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}